.page {
    width: 100%;
    border:5px solid pink;
    background-color: black;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
}

.hidden {
    display: none
}

.container-full {
    margin: 0 auto;
    width: 1300px;
    border:1px solid black;
    background-color: #ddd;
}

.container {
    margin:inherit;
    max-width: 1250px;
}

.topnav {
    width: 100%;
    margin:inherit;
}

/* Style the search box inside the navigation bar */
.container input[type=text] {
    padding-left:70px;
    border: 1px solid blue;
    border-radius: 5px;
    margin:inherit;
    display: block;
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
    width:100%;
    height:70px;
    color:white;
    background-color: #45abde;
}

.search-container {
    margin-top: 20px;
    margin-bottom:20px;
}
i#search-icon {
    top: 75px;
    z-index: 100;
    padding-left: 20px;
    font-size: 26px;
    font-weight: 100;
    color: white;
}
/* fix to apply color white to input placeholder text for major browsers*/
::-webkit-input-placeholder { /* Chrome */
    color: white;
  }
:-ms-input-placeholder { /* IE 10+ */
color: white;
}
::-moz-placeholder { /* Firefox 19+ */
color: white;
opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
color: white;
opacity: 1;
}

.testimonials-container {
    height: auto;
    width: 100%;
    display: block;
    min-height: 553px;
    margin-bottom:20px;
    position: relative;
    text-align: center;
    color: white;
}

.testimonials-container img {
    max-width: 1139px;
    height: 891px;
    border: 1px solid black;
    overflow: hidden;
    -webkit-filter: brightness(50%);
}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.testimonials-title {
    font-size: 80px;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 84px;
    bottom: 140px;
    position: relative;
    -webkit-filter: brightness(100%);
}

.testimonials-subtitle {
    color: #bde2ef;
    bottom: 128px;
    position: relative;
    -webkit-filter: brightness(100%);
}

.testimonials {
    top: 447px;
    left: 5%;
    position: absolute;
}

.testimonials img {
    max-height: 300px;
    display: inline-block;
    border: none;
    -webkit-filter: brightness(100%);
}

.test1 {
    float: left;
    display: inline-block;
    -webkit-filter: brightness(100%);
}

.test2 {
    float: left;
    display: inline-block;
    -webkit-filter: brightness(100%);
}

.test3 {
    float: left;
    display: inline-block;
    -webkit-filter: brightness(100%);
}

.test-msg {
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 600;
    max-width: 340px;
    -webkit-filter: brightness(100%);
}

.test-position {
    color: #bde2ef;
    font-size: 17px;
    -webkit-filter: brightness(100%);
}

/*fade in effect on load*/
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.image-feed-container {
    margin-bottom: 102px;
}


/* Three image containers (use 25% for four, and 50% for two, etc) */
.row {
    display: flex;
}

/* Create three equal columns that sits next to each other */
.column {
    flex: 33.33%;
    padding: 5px;
}

.culture-container {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 20px;
}

.culture {
    font-size:20px;
    font-weight: 900;
    color: darkblue;
}

.culture-family {
    font-size:50px;
    font-weight: 100;
    color: #45abde;
}

.style_prevu_kit
{
    display:inline-block;
    border:0;
    width:196px;
    height:210px;
    position: relative;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);   

}
.style_prevu_kit:hover
{
    box-shadow: 0px 0px 150px #000000;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.5);
}

.style_prevu_kit_text
{
    display:inline-block;
    border:0;
    position: relative;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);   

}
.style_prevu_kit_text:hover
{
    box-shadow: 0px 0px 150px #000000;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.5);
}



/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally
@media screen and (max-width: 600px) {
    .topnav a, .topnav input[type=text] {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }
    .topnav input[type=text] {
        border: 1px solid #ccc;
    }
} 
*/

