<div class="page hidden">
  <div class="container-full">
    <div class="container">
      <div class='search-container'>
        <i id='search-icon' class="glyphicon glyphicon-search"></i>
        <input id='search-input' class="awesomplete" list="mylist" type="text" placeholder="My perfect job is...">
        <datalist id="mylist">
            <option>CornerStone</option>
            <option>Corner</option>
            <option>Stone</option>
            <option>Chris</option>
            <option>La Barba</option>
            <option>Code Challenge</option>
            <option>Thank you for your time</option>
          </datalist>
      </div>
    
      <div class='testimonials-container'>
        <img src="https://jooinn.com/images/using-laptop-3.jpg">
        <div class='centered'>
          <div class='testimonials-title'>realize <i>your</i> potential</div>
          <div class='testimonials-subtitle'>cloud-based applications to recruit, train, manage, and connect people across your organization</div>
        </div>
        <div class='testimonials'>
          <div class='test1 style_prevu_kit_text'>
            <img src="https://cdn1.iconfinder.com/data/icons/avatar-2-2/512/Programmer-512.png" alt="">
            <div class='test-msg'>smart, cool and ready to prove it</div>
            <div class='test-position'>Khoa, Lead Product Manager</div>
          </div>
          <div class='test2 style_prevu_kit_text'>
            <div class='test-msg'>it's a new day, learn something</div>
            <div class='test-position'>Alyssa, Sales Manager</div>
            <img src="https://cdn4.iconfinder.com/data/icons/people-avatars-8/256/PEOPLE_ICON-31-512.png" alt="">
          </div>
          <div class='test3 style_prevu_kit_text'>
            <img src="https://cdn0.iconfinder.com/data/icons/avatars-6/500/Avatar_boy_man_people_account_client_male_person_user_work_sport_beard_team_glasses-512.png" alt="">
            <div class='test-msg'>we're groing fast, and so can you</div>
            <div class='test-position'>Ravin, Director of Development</div>
          </div>
        </div>
      </div>

      <div class='culture-container'>
        <div class='culture'>OUR CULTURE</div>
        <div class='culture-family'>A Family Named Cornerstone</div>
      </div>
      <div class='image-feed-container'>
        <div class="row">
            <div class="column style_prevu_kit">
              <img src="https://scontent-sjc3-1.cdninstagram.com/vp/6140eb54c97aebc574d6f7b8857149cb/5C0A0B50/t51.2885-15/e35/31674649_199757697311215_2812276978340593664_n.jpg" alt="Forest" style="width:100%">
            </div>
            <div class="column style_prevu_kit">
              <img src="https://scontent-sjc3-1.cdninstagram.com/vp/11fa829cd680b38f17db3b9becff51b4/5BEE8809/t51.2885-15/e35/30589874_722834037840428_2036696920809799680_n.jpg" alt="Mountains" style="width:100%">
            </div>
            <div class="column style_prevu_kit">
                <img src="https://scontent-sjc3-1.cdninstagram.com/vp/938bd6a74be27c9c0f732846709602c7/5C119928/t51.2885-15/e35/30591294_994852380668394_5937510476735840256_n.jpg" alt="Mountains" style="width:100%">
            </div>
            <div class="column style_prevu_kit">
                <img src="https://scontent-sjc3-1.cdninstagram.com/vp/da61cc5705205e56ff325437eddcdc31/5C05BD2A/t51.2885-15/e35/30603602_871033199748999_7723463500248383488_n.jpg" alt="Mountains" style="width:100%">
            </div>
        </div>
        <div class="row">
            <div class="column style_prevu_kit">
                <img src="https://scontent-sjc3-1.cdninstagram.com/vp/c759f455b4bae3f4b374c2fa817bba14/5BEF038D/t51.2885-15/e35/28765072_2067933436810696_7971769793151762432_n.jpg" alt="Mountains" style="width:100%">
            </div>
            <div class="column style_prevu_kit">
                <img src="https://scontent-sjc3-1.cdninstagram.com/vp/5cd3c323ea81517ce33c9b6d1a14bbcd/5BFA1EC0/t51.2885-15/e35/28430497_773625736161471_4514372994486763520_n.jpg" alt="Mountains" style="width:100%">
            </div>
            <div class="column style_prevu_kit">
                <img src="https://scontent-sjc3-1.cdninstagram.com/vp/7ef1fe7c0952bc7ed1514e4a500c9808/5C025583/t51.2885-15/e35/28154601_157661454940924_4718555907242328064_n.jpg" alt="Mountains" style="width:100%">
            </div>
            <div class="column style_prevu_kit">
                <img src="https://scontent-sjc3-1.cdninstagram.com/vp/e0467de666e2a76441f88d4831e8b6cf/5C0F92EF/t51.2885-15/e35/29094111_1627547574019776_3582383280441262080_n.jpg" alt="Mountains" style="width:100%">
            </div>
        </div>  
      </div>  
    </div>
  </div>
</div>